.exercise-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 45px;
    margin: 100px 50px;

}

.cart-container img{
    width: 80px;
    height: 90px;
}
.cart-container{
    margin-top: 10px;
    background-color: aqua;
}
.cart-info{
    padding-left: 7px;
}
.exercise-time{
    margin-top: 35px;
    background-color: aqua;
    border: 1px solid aquamarine;
}
.customer-data h5{
    margin-right: 5px;
    border: 2px solid gray;
    background-color: aqua;
}
@media screen and (max-width:560px){
    .product-container{
    grid-template-columns: repeat(1,1fr);
  }
}
   
    
